.BarContainer {
    min-width: 54px;
    background: #282828;
}

.TimeWidget {
    min-width: 54px;
    padding: 8px 0;
}
.DateLabel {
    font-family: Fira Code;
    font-size: 12px;
}
.TimeLabel {
    font-family: Fira Code;
    font-size: 24px;
}
