window.Bar {
    background: transparent;
    color: @theme_fg_color;
    font-weight: bold;
}

window.Bar centerbox {
    background: @theme_bg_color;
    border-radius: 4px;
    margin: 8px;
    min-width: 42px;
}

window.Left centerbox {
    margin-right: 0;
}

window.Right centerbox {
    margin-left: 0;
}
