* {
    transition-duration: 0;
}

window.Bar {
    background: transparent;
}

menu,
.menu,
.context-menu {
    font-family: Fira Code;
    margin: 4px;
    padding: 6px;
    background: black;
    border-radius: 4px;
    border: none;
}

.csd menu,
.csd .menu,
.csd .context-menu {
    border: none;
    border-radius: 4px;
}

menu:backdrop,
.menu:backdrop,
.context-menu:backdrop {
    background-color: #3c3836;
}

menu menuitem,
.menu menuitem,
.context-menu menuitem {
    font-family: Fira Code;
    min-height: 17px;
    min-width: 40px;
    padding: 4px 6px;
    text-shadow: none;
    border-radius: 4px;
}

.BarContainer {
    background: transparent;
    margin: 8px;
    margin-right: 0;
}

.Container {
    background: #3c3836;
    border-radius: 0px;
}

.Separator {
    background: transparent;
    min-width: 42px;
    min-height: 8px;
}

.TimeLabel {
    color: #fbf1c7;
    font-family: "Fira Code";
    font-size: 24px;
    min-width: 46px;
    margin-top: -3px;
    margin-bottom: -3px;
}
.DateLabel {
    color: #ebdbb2;
    font-family: "Fira Code";
    font-size: 12px;
}
.DateTime {
    padding-top: 12px;
    padding-bottom: 12px;
}
.NixOS-Button {
    background: transparent;
    border: 0px;
    border-radius: 0px;
    min-height: 46px;
    min-width: 46px;
    font-size: 28px;
}
.NixOS-Button:hover {
    font-size: 30px;
}
.NixOS-Button:active {
    font-size: 27px;
}

.VerticalButton {
    background: transparent;
    border-radius: 0px;
    border: 0px;
}

.Workspace {
    background-color: #928734;
    border-radius: 12px;
    min-width: 12px;
    min-height: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.Active {
    background-color: #458588;
    min-width: 21.32px; /* 16x9 */
    min-height: 12px;
    border-radius: 3px;
}
.Occupied {
    background-color: #ebdbb2;
}
.WorkspaceClick {
    background-color: transparent;
    min-width: unset;
    min-height: unset;
    margin: unset;
    padding: unset;
    border: unset;
}
.WorkspaceClick:hover {
    background-color: transparent;
    min-width: unset;
    min-height: unset;
    margin: unset;
    padding: unset;
    border: unset;
}
.WorkspaceClick:hover {
    min-width: 16px;
    min-height: 16px;
}
.Workspaces {
    padding-top: 12px;
    padding-bottom: 12px;
}

.Tray {
    padding: 12px 0;
}
.TrayItem {
    all: unset;
    border: 0px;
    border-radius: 4px;
    min-width: 26px;
    min-height: 26px;
    padding: 2px;
    margin: 0 10px;
    margin-bottom: 0px;
    font-size: 22px;
}
.TrayItem:hover {
    font-size: 24px;
}
.TrayItem:active {
    font-size: 21px;
}

.PaneContainer {
    min-width: 420px;
    background: #3c3836;
}
.dashboard-container {
    padding: 42px;
}
.NixOS-PaneIcon {
    min-width: 420px;
    min-height: 420px;
    font-size: 320px;
}
.pane-1x1 {
    min-width: 76px;
    min-height: 76px;
    margin: 4px 4px;
    padding: 0;
    border-radius: 4px;
}
.avatar {
    margin: 8px;
    border-radius: 42px;
    background: url("assets/n3rdium.png");
    background-size: cover;
}
.icon-1x1 {
    font-size: 42px;
    color: #9aa5ce;
    font-family: Font Awesome;
}

.dock {
    padding: 6px 0;
}
.dockIcon {
    all: unset;
    min-width: 30px;
    min-height: 38px;
    font-size: 28px;
    margin: 0 6px;
    border-radius: 4px;
    padding: 0 4px;
}
.dockIcon:hover {
    font-size: 30px;
}
.dockIcon:active {
    font-size: 27px;
}

.Fullscreen {
    background-color: #3c3836;
}
.FullscreenContainer {
}
