window.Bar {
    background: transparent;
}

window.Bar centerbox {
    background: transparent;
    margin: 8px;
}

.Container {
    background: @theme_bg_color;
    border-radius: 4px;
    min-width: 42px;
    min-height: 42px;
}

window.Left centerbox {
    margin-right: 0;
}

window.Right centerbox {
    margin-left: 0;
}

.Separator {
    background: transparent;
    min-width: 42px;
    min-height: 8px;
}

.TimeLabel {
    color: #eceff4;
    font-family: "Fira Code";
    font-size: 24px;
    margin-left: 6px;
    margin-top: -3px;
    margin-bottom: -3px;
}
.DateLabel {
    color: #d8dee9;
    font-family: "Fira Code";
    font-size: 12px;
    margin-left: 6px;
}
.DateTime {
    padding-top: 6px;
    padding-bottom: 6px;
}
